@font-face {
  font-family: "Inter-Regular";
  src: local(Inter-Regular),
    url("../assets/fonts/static/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SemiBold";
  src: local(Inter-SemiBold),
    url("../assets/fonts/static/Inter-SemiBold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #253347;
}

/* main {
  height: 100vh;
} */
.calc-section {
  width: 87.5rem;
  height: 47rem;
  background-color: #ffff;
  position: relative;
  margin: 0 auto;
  padding: 0 2rem 1.5rem;
  margin-bottom: 3rem;
}

.calc-section-text-container {
  width: 61rem;
  height: 100%;
  background: linear-gradient(
    to bottom right,
    rgba(171, 202, 238, 0.01),
    rgba(52, 143, 246, 0.21)
  );
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  display: flex;
  align-items: center;
}

.calc-section-text-container > div {
  width: 35.25rem;
  margin-left: 7rem;
  /* background-color: #25334744; */
}

.calc-section-text-container h1 {
  font-size: 4rem;
  font-family: "SemiBold";
  letter-spacing: -5px;
  margin-bottom: 35px;
}

.calc-section-text-container p {
  font-family: "Inter-Regular";
  line-height: 1.5;
}
/* ///////////////////////////// */

.calc-container {
  position: absolute;
  top: 23%;
  right: 7%;
  background-color: #ffff;
  width: 35.25rem;
  height: 30.25rem;
  z-index: 9;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border-radius: 16px;
  padding: 2rem;
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  font-family: "SemiBold";
  margin-bottom: 2rem;
}

.calc-container > h2 {
  font-family: "SemiBold";
  font-size:1.5rem;
  margin-bottom: 1rem;
}

.input-container {
  display: flex;
  justify-content: space-between;
}

.input-label {
  display: flex;
  flex-direction: column;
  color: #7c7e80af;
}

.input-label > input {
  width: 14.8rem;
  height: 4.3rem;
  font-size: 1.5rem;
  font-family: "SemiBold";
  padding: 1rem;
  border-radius: 0.8rem;
  border: 1px solid #D8e2e7;
  margin-top: 10px;
}

.check {
  width: 2rem;
  height: 2rem;

}

.result-container {
  background: linear-gradient(to left, #345ef6c9, #345ff6) ;
  width: 31.25rem;
  height: 10.3rem;
  border-top-right-radius: 90px ;
  border-top-left-radius: 10px ;
  border-bottom-right-radius: 90px ;
  border-bottom-left-radius: 10px;
  padding: 2rem;
  color: #ffff;
  display: flex;
}

.result-container > h2 {
  font-family: "SemiBold";
  font-size: 1.5rem;
}

.result-container > p {
  font-family: "Inter-Regular";
  font-size: 14px;
}

.welcome {
  flex-direction: column;
  gap: 1.75rem;
  justify-content: center;
}

.bmi-result-box {
  display: grid;
  grid-template-columns: 12.8rem 12.8rem ;
  font-family: "Inter-Regular";
}

.bmi > h2 {
  font-size: 4rem;
}



/* //////////////////////// */

.explanation-section {
  width: 76rem;
  margin: 0 auto;
  padding: 1.5rem 2rem 2rem;
  margin-top: 3rem;
  margin-bottom: 4.5rem;
  display: flex;
  gap: 8.1rem;
}

.img-container {
  width: 564px;
  height: 533px;
  background-color: aqua;
}

.explanation-container {
  width: 29.1rem;
  align-self: flex-end;
}

.explanation-container > h2 {
  font-size: 3rem;
  font-family: "SemiBold";
  letter-spacing: -5px;
  margin-bottom: 35px;
}

.explanation-container > p {
  font-family: "Inter-Regular";
  line-height: 1.5;
}

/*  */
.to-do-section {
  width: 97rem;
  height: 26rem;
  margin: 0 auto;
  padding: 1.5rem 2rem 2rem;
  display: flex;
  align-items: center;
  background: linear-gradient(
    to bottom right,
    rgba(171, 202, 238, 0.01),
    rgba(52, 143, 246, 0.08)
  );
  border-radius: 30px;
  margin-top: 4.5rem;
  margin-bottom: 4.5rem;

}

.grid-container {
  width: 72.5rem ;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  gap: 2rem;
}


.to-do-box h3 {
  font-size: 1.5rem;
  font-family: 'SemiBold';
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.to-do-box p {
  font-family: "Inter-Regular";
  line-height: 1.4;
}

/*  */

.limitations-section {
  width: 72.5rem;
  margin: 0 auto;
  margin-top: 4.5rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 4.5rem;
  padding: 1.5rem 2rem 2rem;
}


.flex-contaier {
  display: flex;
  justify-content: flex-end;
  gap: 2rem;

}

.limitation-box {
  width: 22.5rem;
  padding: 2rem;
  border-radius: 15px;
font-family: "Inter-Regular";;
  box-shadow: rgba(24, 67, 116, 0.226) 0px 10px 36px 0px, rgba(52, 143, 246, 0.01) 0px 0px 0px 1px;
}

.gender-box {
  margin-right: 5rem;
}

.flex-contaier:first-child {
  margin-right: 5rem;
}

.flex-contaier:last-child {
  margin-right: 10rem;
}

.text-box {
  width: 35.25rem;
  margin-right: 7rem;
}

.text-box > h2{
  font-size: 3rem;
  font-family: "SemiBold";
  letter-spacing: -5px;
  margin-bottom: 35px;
}

.text-box > p {
  font-family: "Inter-Regular";
  line-height: 1.5;
}


.svg-box {
  display: flex;
  align-items: center;
  font-family: "SemiBold" ;
  gap: 0.8rem;
  margin-bottom: 1rem;
  font-size: 20px;
}